
.popzy{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    background: rgba(0, 0,0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity visibility;
    transition-duration: .3s;
}
.wrapper {
    position: fixed;
    inset: 0;
    overflow-y: auto;
    padding-right:50px ;
    /* khi dùng this._getscrollbar thi nó sẽ đè lên giá trị padding right tương ứng với thanh scroll, làm cho trang bị dựt  */

}
.popzy--show {
    opacity: 1;
    visibility: inherit;
}
.popzy__background{
    position: relative;
    background:#fff ;
    width: min(600px,90%);
    border-radius: 10px;
    padding: 28px 0 0;
    transform: scale(0);
    transition: transform 1s;

}
.popzy--show .popzy__background {
    transform: scale(1);
} 
/* khi show bật trước thì popzy__backgorund mới được bật */
.popzy__close{
    position: absolute;
    top: 6px;
    right: 6px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    border: none;
    background: #ccc;
    background-color: 0.5;
}
.popzy__content{
    max-height: 80vh;
    overflow-y:auto;
}
.popzy__footer{
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    gap:8px;
}
.popzy--no-scroll {
    overflow-y: hidden;
}
